body {
    min-width: 720px;
    min-height: 560px;
    margin: 0;
}

.authorInfo {
    position: absolute;
    bottom: 10px;
    font-size: 22px;
    right: 28px;
    clear: both;
}

.container {
    font-size: 0;
}

.wrap {
    min-height: 486px;
    margin: 6px;
}

.wrap .cLeft {
    min-height: 486px;
    font-size: 16px;
    display: inline-block;
    vertical-align: top;
    width: 42%;
    border: 2px solid deepskyblue;
    box-sizing: border-box;
    padding: 0 4px 0 4px;
}

.wrap .cCenter {
    min-height: 486px;
    font-size: 16px;
    display: inline-block;
    vertical-align: top;
    width: 16%;
    border: 0;
    box-sizing: border-box;
    text-align: center;
}

.wrap .cRight {
    min-height: 486px;
    font-size: 14px;
    display: inline-block;
    vertical-align: top;
    width: 42%;
    border: 2px solid deepskyblue;
    box-sizing: border-box;
    padding: 0 4px 0 4px;
    overflow: auto;
}
